<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/createHall}" th:object="${hall}" method="post">
    <h3>type</h3>
    <input type="text" th:field="*{type}" required><br>
    <h3>columnQuantity</h3>
    <input type="text" th:field="*{columnQuantity}" required><br>
    <h3>seatQuantity</h3>
    <input type="text" th:field="*{seatQuantity}" required><br>
    <input type="submit">
</form>
<a href="/allHalls">Go back</a>
</body>
</html>