<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr bgcolor="33A5FF">
    <th>ID</th>
    <th>title</th>
    <th>director</th>
    <th>duration</th>
    <th>description</th>
    <th>language</th>
    <th>genre</th>
    <th></th>
    </tr>
    <tr th:each="film: ${allFilms}">
        <td><a th:href="@{/film/{id}(id=${film.id})}" th:text="${film.id}"></a></td>
        <td th:text="${film.title}"></td>
        <td th:text="${film.director}"></td>
        <td th:text="${film.duration}"></td>
        <td th:text="${film.description}"></td>
        <td th:text="${film.language}"></td>
        <td th:text="${film.genre}"></td>
        <td><a th:href="@{/deleteFilm/{id}(id=${film.id})}">Delete</a></td>
    </tr>
</table>
<a href="/createFilm">New Film</a>
</body>
</html>